:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}


h2 {
  font-size: 2.5em;
  line-height: 1.1;
}

input{
  border-radius: 8px;
  border: 1px solid #555555;
  padding: 0.6em 1.2em;
  font-size: 0.85em;
  width: 55dvh;
  height: 25px;
  margin: 5px;
  line-break: auto;
  font-weight: 400;
  font-family: inherit;
  background-color: #242424;
  color: #ffffff;
  transition: border-color 0.25s;
} 

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 10px 15px ;  
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color  ease .25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 0.5px auto -webkit-focus-ring-color;
}

.to-do-list {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;  
  width: 80%;
  margin-top: 8% ;
  border: #555555 1px solid;
  border-radius: 12px;
  padding: 0;
  background-color: #292929;
}

.add-button {
  background-color: #27732b;
  color: #cbedd0;
  cursor: pointer;
  transition: border-color  ease .25s;
}
.add-button:hover {
  border-color: #69ff64;
}

.delete-button {
  background-color: #7f2b2b;
  color: #f0c2c2;
  cursor: pointer;
  transition: border-color  ease .25s;
  margin-left: 10px;
}
.delete-button:hover {
  border-color: #ff6464;
}

.move-button {
  background-color: #2b2b7f;
  color: #c2c2f0;
  cursor: pointer;
  margin-left: 10px;
  transition: border-color  ease .25s;
}
.move-button:hover {
  border-color: #6464ff;
}
p {
  display: none;
  font-size: 0.8em;
  margin: -1px 0 1px 10px;
  padding: 0;
  color: #ff0e0e;
}
ol {
  list-style-type: none;
  padding: 0;
}
li {
   width: 65dvh; 
  padding: 1.4em;  
  background-color: #242424;
  margin-bottom: 12px;
  border: 1px solid #555555;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text {
  font-size: 1.2em;
  font-weight: 500;
  flex: 1;
 
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
